html
	head
		title= "RATE THE IMAGE"
		link(href="http://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
		link(type="text/css" rel="stylesheet" href="materialize-css/dist/css/materialize.min.css"  media="screen,projection")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='main.css')
	body
		nav
			div.nav-wrapper
				a#logo.brand-logo RATE THE IMAGE
				ul.right
					li
						a( href="/show" ) THE IMAGE HAS BEEN RATED
		div#header.valign-wrapper
			div.row.valign
				div.col.l12
					h1.center RATE THE IMAGE
		main
			div.container
				div.row
					div(class='col s12')
						div#topcard.card
							div.card-content
								div
									img(id="image", src="/pinyin.jpg")
								br
								h3 RATE! THIS! IMAGE!
								table(id="formtable")
									form(method='post', action= '/index')
										//-input(type='hidden', name='_method', value='PUT')
										tr
											td
												label Rating: 
											td
												input(name='rating', type='number', id='rating', placeholder = 'Rate this image', required, autocomplete="off" min="0" max="10"	)
										tr
											td
												label Title: 
											td
												input(name='title', type='text', id='title', placeholder = 'Title of your message', required, autocomplete="off")
										tr
											td
												label Message: 
											td
												input(name='body', type="text", id='body', placeholder = 'Leave us a message!', required,  autocomplete="off")
										tr
											td
												input(type='Submit', value='Submit', class='button')
												input(type="reset" value="Reset", class='button', id='resetbutton')

		footer.page-footer
			div.container2
				div.row
					div.col.l6.s12
						h5.white-text ABOUT RATE THIS IMAGE
						p.grey-text.text-lighten-3 RATE THIS IMAGE© is a super useless project created by Selma Dorrestein, since guestbooks are stupid and pointless and a website should at least have a goal. Yes, this website only contains one image. Yes, I did most of the ratings myself. Yes, this project is slightly inspired by Dolores Umbridge.
					div.col.l4.offset-l2.s12
						h5.white-text Links
						ul.grey-text.text-lighten-3
							li 
								a( href="/show" ) THE IMAGE HAS BEEN RATED
							li 
								a(href="https://github.com/Selma2202") AUTHOR'S GITHUB
			div.footer-copyright
				div.container2.grey-text © 2016 Copyright Selma Dorrestein







		script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
		script(type="text/javascript" src="materialize-css/dist/js/materialize.min.js")