/*Big items*/
body {
	background-color: #F8BBD0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.container {
	background-color: #F8BBD0;
	margin: auto;
	padding: 30px;
}

.container2 {
	margin: auto;
}

nav, footer.page-footer {
	background-color: #C2185B;
}

#logo {
	padding-left: 10px;
}

#header {
	min-height: 400px;
	background-color: #E91E63;
	background-image: url('catbackground3.png');
	/*background-position: center;*/
	background-repeat: repeat;
	/*background-size: cover;*/
}

main {
	flex: 1 0 auto;
}

#topcard {
	margin-top: -150px;
	border: solid 3px #C2185B;
	border-radius: 45px;
}

/*Text items*/
h1 {
	color: #212121;
	padding-bottom: 100px;
	/*text-shadow: 0px 0px 50px #C2185B;*/
	font-weight: bold;
}

p {
	color: #212121;
}

h2 {
	text-align: center;
	padding: 20px;
	text-shadow:0px 0px 10px #C2185B;
	font-weight: bold;
	color: #212121;
}

a {
	color: #9E9E9E;
}

#showTitle {
	font-weight: bold;	
}

label {
	color: #757575;
	font-size: inherit;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
	font-size: inherit;
}


/*Other items*/
#resetbutton {
	margin-left: 30px;
}

#image {
	width: 100%;
	padding: 10px;
	border-radius: 40px;
}

.button {
	padding: 5px;
	background-color: #F8BBD0;
	border: solid 2px #C2185B;
	border-radius: 5px;
	margin: 20px 0px 10px;
}

hr {
	color: #9E9E9E;
}